/* sets background color for page */
body{
    background-color: aliceblue;
}

/* HEADER */
/* sets background styling of header */
header{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/circuit-board.jpg);
    height: 100px;
}
/* sets up title of page */
header h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    margin-left: 1%;
    margin-top: 1%;
    text-decoration: underline;
}
/* NAV GUIDELINES */
header nav{
    margin-left: auto;
    margin-top: auto;;
}
header nav ul{
    color: white;
    background-color: rgba(7, 15, 56, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    border: 1px solid #ddd;
}
header nav ul li{
    display:inline-block;
    padding: 8px 16px;
    border-left: 1px solid #ddd;
}
a{
    color: white;
}
a:hover{
    color: cornflowerblue;
}
/* sets up h2/paragraph requirements throughout page */
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 375%;
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
    background-color: rgba(7, 15, 56, 0.5);
    color: white;
    padding-top: .50%;
}
.opacity{
    background-image: url(../images/circuit-board.jpg);
    height: 75px;
}
p{
    text-align: center;
    font-size: 200%;
    margin: 2%;
}
/* QUIZ */
/* box where questions will appear */
#query{
    text-align: center;
    font-size: 150%;
    margin: 5%;
    margin-top: 2%;
    margin-bottom:2%;
    padding: 5%;
    border: 2px solid black;
    background-color: white;
}
/* timer */
h5{
    text-align: center;
    font-size: 250%;
    margin-top: 3%;
}
/* Buttons for quiz*/
/* sets styling for the buttons inclduing padding/margin */
.row{
    display: flex;
}
.button_group {
  overflow:hidden;
  margin: auto;
  color: white; 
  width: 80%;
  font-size: 150%; 
  font-weight: bold;
  margin-bottom: 2%;
}
/* hides radio button  */
.button_group input[type="radio"] {
    width: 0;
}
.button_group label {
  padding: 35px 70%;
  background-color: cornflowerblue; 
  border: 1px solid blue; 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer; 
  white-space: nowrap;
  margin-bottom: 2%; 
}
.button_group label:hover {
    background-color: blue;
}
.button_group input[type="radio"]:checked + label {
    background-color: blue;
}
.button_row{
    display: flex;
    justify-content: center;
}
/* Buttons for navigation between questions */
.button_nav button {
    cursor: pointer; 
    border: 1px solid gray; 
    color: white; 
    width: 25%; 
    height: 100px;
    margin-bottom: 1%;
    font-size: 150%;
    font-weight: bold;
}
#back, #next{
  background-color:darkslategray; 
}
.center{
    text-align: center;
}
#next:hover, #back:hover {
    background-color: green;
}
/* CHECKBOXES */
/* creates grid */
.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding-top: 1%; 
    justify-items: center;
    justify-content: center;
}
/* sets padding */
.box {
    padding: 5%;
}
/*hides original checkbox*/
.options input{
    display: none;
}
/*Adds rules for spacing between*/
.options input + label {
    display: block;
    position: relative;
    padding-left: 50%;
    margin-bottom: 25%;
    margin-left: 2%;
    font-size: 150%;
    cursor: pointer;
}
#optionstimer input + label{
  padding-left: 20%;
  margin-bottom: 10%;
}
/* Changes the color of the text when hovered over */
.options label:hover {
    color: cornflowerblue;
}
/* changes shape of the checkbox */
.options input + label:before {
    content: "";
    width: 25%;
    height: 110%;
    border: 1px solid black;
    border-radius: 1em;
    position: absolute;
    left: 0;
    top: 0;
}
#optionstimer input + label:before{
  content: "";
  width: 10%;
  height: 110%;
  border-radius: 1em;
  position: absolute;
  left: 0;
}
/* changes colors once checked */
.options input:checked + label:before {
    border: 2px solid white;
    background: cornflowerblue;
}
/* BUTTON */
.option_button {
    text-align: center;
}
/* START BUTTON */
.btn {
    border: none;
    background-color: cornflowerblue;
    border-radius: 25px;
    color: white;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    cursor: pointer;
}
/* FOOTER */
footer{
    background-image: url(../images/circuit-board.jpg);
    height: 100%;
    padding: 1%;
}
h4{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
}
.popup_container{
    height: 100vh;
    background: aliceblue;
}
/* POPUP */
.popup_btn{
    padding:10px 60px;
    background: #fff;
    border:0;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
.popup{
    width: 400px;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open_popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup h6{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    margin-bottom: 10%;
    background-color: darkblue;
    color: white;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: cornflowerblue;
    color: #fff;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2)
}
ol li{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-position: inside;
}
/* Small smartphones - ont styling based on size of reader */
@media screen and (max-width: 576px) {
    header h1{
        font-size: 150%;
    }
    header nav ul{
        font-size: 100%;
    }
    h2 {
        font-size: 150%;
    }
    #optionstimer input + label {
        font-size: 75%;
    }
    .options input + label {
        font-size: 75%;
    }
    .button_group label {
        font-size: 10px;
    }
}